/* 
 * Reset and Base
 */ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;} 
table{border-collapse:collapse;border-spacing:0;} 
caption,th{text-align:left;} 
fieldset,img,a img,iframe,html,body{border:0;} 
li{list-style:none;} 
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;} 
h1,h2,h3,h4,h5,h6,em,strong,b{font-size:100%;font-weight:bold;} 
abbr,acronym{border:0;font-variant:normal;} 
sup{vertical-align:text-top;} 
sub{vertical-align:text-bottom;} 
del,ins{text-decoration:none;} 
[hidefocus]{outline:0;} 
textarea,input,button,select{font-size:inherit;line-height:inherit;color:inherit;font-family:inherit;outline:0;} 
textarea{overflow:auto;resize:none;} 
body{word-wrap:break-word;font:12px/200% "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";}
textarea,input,select{font-family:"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";font-size:12px;}
a,button{cursor:pointer;} 
a{outline:0;star:expression(this.onFocus=this.blur());}
a,.m-ttl a:hover,.img:hover,.cc:hover{text-decoration:none;}
a:hover{text-decoration:underline;}
.m-ttl a:hover{opacity:.6;}

.f-hidden{visibility:hidden;}
.box:after{clear:both;display:block;visibility:hidden;height:0;overflow:hidden;content:'.';}
.box{zoom:1;}
a,.m-sch .form{-webkit-transition:all .3s ease;transition:all .3s ease;}
.m-sch a{-webkit-transition:all 0s ease;transition:all 0s ease;}

/* animations */
/* 淡入 */
.a-fadein{-webkit-animation:fadein 1s;-moz-animation:fadein 1s;-ms-animation:fadein 1s;animation:fadein 1s;}
/* definition */
@-webkit-keyframes fadein{
	0% {opacity:0;-webkit-transform:translateY(-20px);}
	100%{opacity:1;-webkit-transform:translateY(0);}
}
@-moz-keyframes fadein{
	0%{opacity:0;-moz-transform:translateY(-20px);}
	100%{opacity:1;-moz-transform:translateY(0);}
}
@-ms-keyframes fadein{
    0%{opacity:0;-ms-transform:translateY(-20px);}
	100%{opacity:1;-ms-transform:translateY(0);}
}
@keyframes fadein{
    0%{opacity:0;transform:translateY(-20px);}
	100%{opacity:1;transform:translateY(0);}
} 
/* units */
.u-sep,.meta{width:300px;border-bottom:3px solid #222630;margin:0 auto;}
.u-sep{margin-top:40px;}
.meta{padding:10px 0 30px;}
/* all bg-imgs */

/* 
 * Grid
 */
.g-doc{/*max-width:1280px;*/min-width:500px;/*_width:1280px;*/margin:0 auto;padding:50px 100px;text-align:center;}
.g-ft,.m-pager,.m-cmthot{margin:60px 0 0;}
 
/* 
 * Modules
 */
/* hd */
.m-hdimg,.m-ttl,.m-about{margin-bottom:25px;}
.m-hdimg img{width:120px;height:120px;border:5px solid #fff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;vertical-align:middle;}
.m-ttl{font-size:18px;letter-spacing:2px;line-height:30px;}
.m-cstmttl{width:500px;margin:0 auto 25px;_visibility:hidden;}
.m-cstmttl img{max-width:500px !important;/*_width:500px;*/vertical-align:middle;}

.m-nav,.m-sch .txt{font-weight:bold;}
.m-nav li{display:inline-block;*display:inline;*zoom:1;margin:0 15px;}
.m-nav a{white-space:nowrap;}
.m-sch{position:relative;}    
.m-sch .form,.m-sch .txt{width:0;height:20px;line-height:20px;}
.m-sch .form{position:absolute;left:0;top:0;border-bottom:1px solid #419CE7;padding:0 10px;opacity:0;visibility:hidden;}  
.m-sch .txt{border:0;background:none;}
.m-schshow{width:100px;}
.m-schshow .form,.m-schshow .txt{width:80px;}
.m-schshow .form{opacity:1;visibility:visible;}

/* post list */
.m-post{margin:60px 0 0;}
.m-post .ctc .ttl{margin:0 0 25px;font-size:16px;line-height:28px;font-weight:normal;}
.m-post .ctc ul,.m-post .ctc ol{padding:0 0 0 25px;}
.m-post .ctc ul li{list-style:disc outside;}
.m-post .ctc ol li{list-style:decimal outside;}
.m-post .ctc blockquote{border-left:1px solid #ddd;padding-left:10px;}
.m-post .ctc p,.m-post .ctc ul,.m-post .ctc ol,.m-post .ctc blockquote,.m-post .ctc .text,.m-post .ctc .digest,.m-post .player,.m-post img,.m-post-video .pic{margin:0 0 20px;}
.m-post .ctc .text,.m-post .ctc .digest,.m-post .txtcont,.info .tags,.m-cmthot{width:700px;margin-left:auto;margin-right:auto;text-align:left;}
/* Multimedias of posts */
.m-post img,.m-post object,.m-post embed{max-width:100% !important;_width:100%;}
.m-post object,.m-post embed{*width:100%;}
.m-post-audio .player object,.m-post-audio .player embed{width:257px;}
.m-post-video .pic object,.m-post-video .pic embed{width:850px;height:532px;}
.m-post .cover img,.m-post .thumbnail img{width:200px;}
.m-post img,.m-post-audio .player object,.m-post-audio .player embed{vertical-align:middle;}
/* info */
.info{padding:10px 0 0;}
.info .tags{text-align:center;}
.info a{white-space:nowrap;}
.info .tags a,.info .meta span{margin:0 5px;}

/* post detail */
/* info */
/* pager */
.m-pager a{display:inline-block;margin:0 20px;font-size:16px;}
/* copyright */

/* CC图标是放在公共文件夹里，引用图标的样式如下 */
.cc_1,.cc_2,.cc_3,.cc_4,.cc_5,.cc_6{height:23px;display:inline-block;background:url(http://img.ph.126.net/j0Y91zpli25hqsNz25U64Q==/5629502832748030179.png) no-repeat left top;_background-image:url(http://img.ph.126.net/lFXMCE-rjnVdUFt5Qj0Ztg==/5629502832748030180.png);}
.cc_1{width:48px;background-position:0 5px;}
.cc_2{width:48px;background-position:-55px -19px;}
.cc_3{width:32px;background-position:0 -43px;}
.cc_4{width:32px;background-position:-70px -66px;}
.cc_5{width:32px;background-position:0 -90px;}
.cc_6{width:14px;background-position:-87px -113px;}

/* cmt & hot */
.m-cmthot .nctitle{margin-bottom:8px;font-size:14px;}
.m-cmt,.m-hot{padding:10px 0;}
.m-hot .avatar{float:left;width:20px;height:20px;border:0;margin:0;}
.notes{margin:0;padding:0;line-height:20px;font-size:12px;zoom:1;}
.notes:after{clear:both;content:'.';display:block;height:0;visibility:hidden;overflow:hidden;}
.notes .clear{clear:both;height:0;overflow:hidden;}
.m-hot .action{float:right;width:670px;}
.m-hot .note{list-style:none;margin:0;float:left;width:100%;padding:10px 0;border-top:1px solid #222630;}
.notes blockquote{padding: 0 0 0 15px;margin-left:30px;overflow:hidden;word-wrap:break-word;border-left:1px solid #ddd;}

/* Skin */